---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">Yappington House</h1>
    <p>
      Life is all about how u choose to sync ur notes, i build a fucking website
      for it.
    </p>
    <img width='512"' height="288" src="/vinland.jpeg" alt="Hero Image" />
    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
            &nbsp;&nbsp;&nbsp;
          </a>
        ))
      }
    </p>
    <p>
      Email me ur feet pics
      <a
        prose-link
        aria-label={siteConfig.email}
        href={`mailto:${siteConfig.email}`}
      >
        {siteConfig.email}
      </a>.
    </p>
  </article>
</BaseLayout>
